.FrontCard {
    /* width: 120px!important;
    height: 120px;
    background: #d1d1d1;
    width: 40%;*/
    max-width: 100% !important; 
    /* font-size: 200%;  */
    margin: 20px auto !important;
  }
  