.FrontCard {
    height: 80px;
    /* width: 120px!important;
    
    background: #d1d1d1;
    width: 40%;*/
    max-width: 100% !important; 
    font-size: 30px !important; 
    margin: 20px auto !important;
  }
  